		body {
			background-color: #1E1E1E;
			margin: auto;
		}
		
		.flex-header {
			display: flex;
			flex-direction: row;
			width: 100%;
		}
		.flex-header-item {
			color: white;
			font-size: 50px;
			font-family: Tahoma;
			font-weight: bold;
			text-align: left;
			background: linear-gradient(to right, rgba(177,32,45,1) 400px, rgba(177,32,45,0));
			flex: 1 1 auto;
			padding: 30px 20px 20px 20px;
		}
		.flex-header-image {
			flex: 0 1 0;
			text-align: center;
			background-color: #b1202d;
			padding-top: 5px;
		}

		.content-container {
			display: flex;
			min-height: 100vh;
			flex-direction: column;
		}
		.main-content {
			flex: 1;
			background-color: blue;
		}
		.side-content-left, .side-content-right {
			flex: 0 0 12em;
			background-color: orange;
		}
		.side-content-left {
			order:-1;
		}		